In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in ./.local/lib/python3.10/site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in ./.local/lib/python3.10/site-packages (from pyspark) (0.10.9.5)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("Sample").getOrCreate()

23/04/28 12:17:04 WARN Utils: Your hostname, TIGER03179 resolves to a loopback address: 127.0.1.1; using 172.29.167.7 instead (on interface eth0)
23/04/28 12:17:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/28 12:17:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
!pip install -q findspark

In [5]:
import findspark

In [6]:
findspark.init()

In [7]:
spark

In [8]:
from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M")
print(current_time)

12:17

In [9]:
cust_df = spark.read.csv("dataset/customers.csv", inferSchema = True, header = True)

In [10]:
#cust_df.repartition("location").write.partitionBy("location").parquet("dataset/location/")

cust_df.write.partitionBy("location").parquet('dataset/location_'+current_time+'/')

In [11]:
#pip install mysql-connector-python

In [12]:
import sqlalchemy

In [13]:
import pandas as pd

In [14]:
from sqlalchemy import create_engine

In [15]:
import mysql.connector
print(mysql.connector.__version__)

8.0.33

In [16]:
# Read single parquet into df

import pandas as pd
#pq_df = pd.read_parquet('dataset/location/location=London/part-00000-269157be-fc13-4c02-acb4-f71127cf6179.c000.snappy.parquet', engine='pyarrow')

In [17]:
#print(pq_df)

In [18]:
'''from sqlalchemy import create_engine
import pymysql
import pandas as pd
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="swapnil",
                               pw="swapnil123",
                               db="mysql"))
#dbConnection    = engine.connect()
pq_df.to_sql('pq_pune', engine, if_exists = 'append', chunksize = 1000)'''

'from sqlalchemy import create_engine\nimport pymysql\nimport pandas as pd\nengine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"\n                       .format(user="swapnil",\n                               pw="swapnil123",\n                               db="mysql"))\n#dbConnection    = engine.connect()\npq_df.to_sql(\'pq_pune\', engine, if_exists = \'append\', chunksize = 1000)'

In [19]:
# Objective - 2
# Parquet Dataset --> df 

import pyarrow.parquet as pq
parquet_df = pq.ParquetDataset('dataset/location_'+current_time+'/').read_pandas().to_pandas()
parquet_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    500 non-null    int32
 1   customer_name  500 non-null    object
 2   location       500 non-null    category
dtypes: category(1), int32(1), object(1)
memory usage: 7.2+ KB

In [20]:
#df --> MySQL table : No need to create schema in MySQL
'''from sqlalchemy import create_engine
import pymysql
import pandas as pd

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="swapnil",
                               pw="swapnil123",
                               db="mysql"))
#dbConnection    = engine.connect()
parquet_df.to_sql('parquet_table',engine, if_exists = 'append', chunksize = 1000)'''

500

In [21]:
# Objective - 3
########### Casting - Masking ###########################
# using repartition

mask_df = spark.read.csv("dataset/cast_mask.csv", inferSchema = True, header = True)
mask_df.repartition(1).write.partitionBy("location").parquet('dataset/cast_mask_'+current_time+'/')

In [22]:
from pyspark.sql.types import *
import pyspark.sql.functions as F

parquet_df1 = spark.read.parquet('dataset/cast_mask_'+current_time+'/')

# This is assuming your card number is not a string. If not skip this cast
parquet_cast = parquet_df1.withColumn("credit_card",F.col('credit_card').cast(StringType()))
parquet_mask = parquet_cast.withColumn("masked_credit_card",F.concat(F.lit('******'),F.substring(F.col("credit_card"),7,4)))

In [23]:
parquet_mask.show()

+-----------+-------------+-----------+--------+------------------+
|customer_id|customer_name|credit_card|location|masked_credit_card|
+-----------+-------------+-----------+--------+------------------+
|        160|   Rock Melon| 1231231234|    Rome|        ******1234|
|        275|   Rose Greek| 9999999999|    Rome|        ******9999|
|        100|   Rose Mario| 3333333333|    Rome|        ******3333|
|         85|     Sam Ever| 9999999999|    Rome|        ******9999|
|         10|  Super Mario| 9876543210|    Rome|        ******3210|
|        435|  Adina Melon| 9102837465|    Rome|        ******7465|
|        350| Carina Smith| 1029384756|    Rome|        ******4756|
|        125|  Brook Melon| 1029388475|    Rome|        ******8475|
|        360|   Rose Melon| 9087654321|    Rome|        ******4321|
|        475|    Brook lee| 9102837465|    Rome|        ******7465|
|        410|   Chris Gyle| 5182058395|    Rome|        ******8395|
|        335|    Sam Mario| 1029388475|    Rome|        ******8475|
|        485|   John Mario| 9879876547|    Rome|        ******6547|
|        250|     Sam Gyle| 9879876547|    Rome|        ******6547|
|        135| Carina Smith| 9102837465|    Rome|        ******7465|
|         35|     Sam Gyle| 6666666666|    Rome|        ******6666|
|        460|   Rock Gyle | 5182058395|    Rome|        ******8395|
|        235|  Devid Mario| 9876543210|    Rome|        ******3210|
|        200|    John Gyle| 1231231234|    Rome|        ******1234|
|        425|   Brook Ever| 9102837465|    Rome|        ******7465|
+-----------+-------------+-----------+--------+------------------+
only showing top 20 rows

In [24]:
# Storing df in a single parquet file
parquet_mask.repartition(1).write.parquet("dataset/cast_mask_parquet")

In [25]:
parquet_mask.show(20)
#spark.sql('''select * from parquet_mask limit 10''').createOrReplaceTempView("mask")

+-----------+-------------+-----------+--------+------------------+
|customer_id|customer_name|credit_card|location|masked_credit_card|
+-----------+-------------+-----------+--------+------------------+
|        160|   Rock Melon| 1231231234|    Rome|        ******1234|
|        275|   Rose Greek| 9999999999|    Rome|        ******9999|
|        100|   Rose Mario| 3333333333|    Rome|        ******3333|
|         85|     Sam Ever| 9999999999|    Rome|        ******9999|
|         10|  Super Mario| 9876543210|    Rome|        ******3210|
|        435|  Adina Melon| 9102837465|    Rome|        ******7465|
|        350| Carina Smith| 1029384756|    Rome|        ******4756|
|        125|  Brook Melon| 1029388475|    Rome|        ******8475|
|        360|   Rose Melon| 9087654321|    Rome|        ******4321|
|        475|    Brook lee| 9102837465|    Rome|        ******7465|
|        410|   Chris Gyle| 5182058395|    Rome|        ******8395|
|        335|    Sam Mario| 1029388475|    Rome|        ******8475|
|        485|   John Mario| 9879876547|    Rome|        ******6547|
|        250|     Sam Gyle| 9879876547|    Rome|        ******6547|
|        135| Carina Smith| 9102837465|    Rome|        ******7465|
|         35|     Sam Gyle| 6666666666|    Rome|        ******6666|
|        460|   Rock Gyle | 5182058395|    Rome|        ******8395|
|        235|  Devid Mario| 9876543210|    Rome|        ******3210|
|        200|    John Gyle| 1231231234|    Rome|        ******1234|
|        425|   Brook Ever| 9102837465|    Rome|        ******7465|
+-----------+-------------+-----------+--------+------------------+
only showing top 20 rows

In [26]:
# Objective - 5: customers data: csv --> df --> parquet --> df 
customers_df = spark.read.csv("dataset/customers.csv", inferSchema = True, header = True)
customers_df.repartition(1).write.partitionBy("location").parquet('dataset/customers_parquet_'+current_time+'/')

In [27]:
customers_df = spark.read.parquet('dataset/customers_parquet_'+current_time+'/')

In [28]:
customers_df.show()

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   Jack Melon|  Berlin|
|         14|   Rose Mario|  Berlin|
|         27|    Jack Gyle|  Berlin|
|         39|  Brook Melon|  Berlin|
|         52|   David Ever|  Berlin|
|         64|  Devid Smith|  Berlin|
|         77|    Sam Mario|  Berlin|
|         89|    Adina lee|  Berlin|
|        102|   Rose Melon|  Berlin|
|        114|    John Gyle|  Berlin|
|        127|  Brook Smith|  Berlin|
|        139|   David Gyle|  Berlin|
|        152|   Chris Gyle|  Berlin|
|        164|     Sam Gyle|  Berlin|
|        177|  Adina Melon|  Berlin|
|        189|   Rose Greek|  Berlin|
|        202|   Rock Gyle |  Berlin|
|        214|     Sam Ever|  Berlin|
|        227|   John Mario|  Berlin|
|        239|  Chris Melon|  Berlin|
+-----------+-------------+--------+
only showing top 20 rows

In [29]:
customers_df.createOrReplaceTempView("customers")
spark.sql("""SELECT customer_id,CONCAT(SUBSTR(customer_name, 1, 3), REPEAT('*', CHAR_LENGTH(customer_name) - 3)) AS customer_name,location
FROM customers""").show()

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   Jac*******|  Berlin|
|         14|   Ros*******|  Berlin|
|         27|    Jac******|  Berlin|
|         39|  Bro********|  Berlin|
|         52|   Dav*******|  Berlin|
|         64|  Dev********|  Berlin|
|         77|    Sam******|  Berlin|
|         89|    Adi******|  Berlin|
|        102|   Ros*******|  Berlin|
|        114|    Joh******|  Berlin|
|        127|  Bro********|  Berlin|
|        139|   Dav*******|  Berlin|
|        152|   Chr*******|  Berlin|
|        164|     Sam*****|  Berlin|
|        177|  Adi********|  Berlin|
|        189|   Ros*******|  Berlin|
|        202|   Roc*******|  Berlin|
|        214|     Sam*****|  Berlin|
|        227|   Joh*******|  Berlin|
|        239|  Chr********|  Berlin|
+-----------+-------------+--------+
only showing top 20 rows

In [30]:
spark.sql("""SELECT customer_id,CONCAT(REPEAT('*', CHAR_LENGTH(customer_name) - 3), SUBSTR(customer_name, CHAR_LENGTH(customer_name) - 2, 4)) AS customer_name,location
FROM customers""").show()

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   *******lon|  Berlin|
|         14|   *******rio|  Berlin|
|         27|    ******yle|  Berlin|
|         39|  ********lon|  Berlin|
|         52|   *******ver|  Berlin|
|         64|  ********ith|  Berlin|
|         77|    ******rio|  Berlin|
|         89|    ******lee|  Berlin|
|        102|   *******lon|  Berlin|
|        114|    ******yle|  Berlin|
|        127|  ********ith|  Berlin|
|        139|   *******yle|  Berlin|
|        152|   *******yle|  Berlin|
|        164|     *****yle|  Berlin|
|        177|  ********lon|  Berlin|
|        189|   *******eek|  Berlin|
|        202|   *******le |  Berlin|
|        214|     *****ver|  Berlin|
|        227|   *******rio|  Berlin|
|        239|  ********lon|  Berlin|
+-----------+-------------+--------+
only showing top 20 rows

In [31]:
# Objective 3 - Casting and Masking
from pyspark.sql.functions import reverse 
customers_df1 = customers_df.select(customers_df['customer_id'],reverse(customers_df['customer_name']),customers_df['location'])
customers_df1 = customers_df1.select(customers_df1['customer_id'], customers_df1['reverse(customer_name)'].alias('customer_name'), customers_df1['location'])
print("\nEncrypted:\n")
customers_df1.show()
customers_df2 = customers_df1.select(customers_df1['customer_id'],reverse(customers_df1['customer_name']),customers_df1['location'])
customers_df2 = customers_df2.select(customers_df2['customer_id'], customers_df2['reverse(customer_name)'].alias('customer_name'), customers_df2['location'])
print("\nDecrypted:\n")
customers_df2.show()
#customers_df1.select(customers_df1['customer_id'], customers_df1['reverse(customer_name)'].alias('customer_name'), customers_df1['location']).show()

Encrypted:

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   noleM kcaJ|  Berlin|
|         14|   oiraM esoR|  Berlin|
|         27|    elyG kcaJ|  Berlin|
|         39|  noleM koorB|  Berlin|
|         52|   revE divaD|  Berlin|
|         64|  htimS diveD|  Berlin|
|         77|    oiraM maS|  Berlin|
|         89|    eel anidA|  Berlin|
|        102|   noleM esoR|  Berlin|
|        114|    elyG nhoJ|  Berlin|
|        127|  htimS koorB|  Berlin|
|        139|   elyG divaD|  Berlin|
|        152|   elyG sirhC|  Berlin|
|        164|     elyG maS|  Berlin|
|        177|  noleM anidA|  Berlin|
|        189|   keerG esoR|  Berlin|
|        202|    elyG kcoR|  Berlin|
|        214|     revE maS|  Berlin|
|        227|   oiraM nhoJ|  Berlin|
|        239|  noleM sirhC|  Berlin|
+-----------+-------------+--------+
only showing top 20 rows


Decrypted:

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   Jack Melon|  Berlin|
|         14|   Rose Mario|  Berlin|
|         27|    Jack Gyle|  Berlin|
|         39|  Brook Melon|  Berlin|
|         52|   David Ever|  Berlin|
|         64|  Devid Smith|  Berlin|
|         77|    Sam Mario|  Berlin|
|         89|    Adina lee|  Berlin|
|        102|   Rose Melon|  Berlin|
|        114|    John Gyle|  Berlin|
|        127|  Brook Smith|  Berlin|
|        139|   David Gyle|  Berlin|
|        152|   Chris Gyle|  Berlin|
|        164|     Sam Gyle|  Berlin|
|        177|  Adina Melon|  Berlin|
|        189|   Rose Greek|  Berlin|
|        202|   Rock Gyle |  Berlin|
|        214|     Sam Ever|  Berlin|
|        227|   John Mario|  Berlin|
|        239|  Chris Melon|  Berlin|
+-----------+-------------+--------+
only showing top 20 rows

In [32]:

from pyspark.sql.functions import udf, lit, col
from cryptography.fernet import Fernet

# encrypt func
def encrypt_data(plain_text, KEY):
    f = Fernet(KEY)
    encrip_text = f.encrypt(str(plain_text).encode()).decode()
    return encrip_text
encrypt_udf = udf(encrypt_data, StringType())

# generate the encryption key
Key = Fernet.generate_key()

enc_df = customers_df.withColumn("encrypted_name", encrypt_udf(col('customer_name'), lit(Key))) 
print("\nEncrypted:\n")
enc_df.select(['customer_id','encrypted_name','location']).show()


def decrypt_data(encrypt_data, KEY):
    f = Fernet(bytes(KEY))
    decoded_val = f.decrypt(encrypt_data.encode()).decode()
    return decoded_val
decrypt_udf = udf(decrypt_data, StringType())
# decrypt the data
dec_df = enc_df.withColumn("decrypted_name", decrypt_udf(col('encrypted_name'), lit(Key)))
print("\nDecrypted:\n")
dec_df.select(['customer_id','decrypted_name','location']).show()

Encrypted:

+-----------+--------------------+--------+
|customer_id|      encrypted_name|location|
+-----------+--------------------+--------+
|          2|gAAAAABkS2v9EsVei...|  Berlin|
|         14|gAAAAABkS2v9e3wcc...|  Berlin|
|         27|gAAAAABkS2v9Vrhm-...|  Berlin|
|         39|gAAAAABkS2v9DcC-z...|  Berlin|
|         52|gAAAAABkS2v9k00mP...|  Berlin|
|         64|gAAAAABkS2v9saiYR...|  Berlin|
|         77|gAAAAABkS2v9Li5Eg...|  Berlin|
|         89|gAAAAABkS2v9lLCyu...|  Berlin|
|        102|gAAAAABkS2v9V-l0x...|  Berlin|
|        114|gAAAAABkS2v9ngkGG...|  Berlin|
|        127|gAAAAABkS2v9qzFIr...|  Berlin|
|        139|gAAAAABkS2v9rVHUX...|  Berlin|
|        152|gAAAAABkS2v9XGP8v...|  Berlin|
|        164|gAAAAABkS2v9pKDZS...|  Berlin|
|        177|gAAAAABkS2v9EjIvo...|  Berlin|
|        189|gAAAAABkS2v9-uW-r...|  Berlin|
|        202|gAAAAABkS2v9Rpd8W...|  Berlin|
|        214|gAAAAABkS2v90mkdW...|  Berlin|
|        227|gAAAAABkS2v9fsOgM...|  Berlin|
|        239|gAAAAABkS2v9QHXLT...|  Berlin|
+-----------+--------------------+--------+
only showing top 20 rows


Decrypted:

+-----------+--------------+--------+
|customer_id|decrypted_name|location|
+-----------+--------------+--------+
|          2|    Jack Melon|  Berlin|
|         14|    Rose Mario|  Berlin|
|         27|     Jack Gyle|  Berlin|
|         39|   Brook Melon|  Berlin|
|         52|    David Ever|  Berlin|
|         64|   Devid Smith|  Berlin|
|         77|     Sam Mario|  Berlin|
|         89|     Adina lee|  Berlin|
|        102|    Rose Melon|  Berlin|
|        114|     John Gyle|  Berlin|
|        127|   Brook Smith|  Berlin|
|        139|    David Gyle|  Berlin|
|        152|    Chris Gyle|  Berlin|
|        164|      Sam Gyle|  Berlin|
|        177|   Adina Melon|  Berlin|
|        189|    Rose Greek|  Berlin|
|        202|    Rock Gyle |  Berlin|
|        214|      Sam Ever|  Berlin|
|        227|    John Mario|  Berlin|
|        239|   Chris Melon|  Berlin|
+-----------+--------------+--------+
only showing top 20 rows

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def main():
    customers_df = spark.read.parquet('dataset/customers_parquet_'+current_time+'/')
    print ("Input Data: \n")
    customers_df.show(10)
    mask_func_udf = udf(mask_func, StringType())
    df_masked=customers_df.withColumn("name_masked",mask_func_udf(customers_df["customer_name"]))
    df_masked=df_masked.drop("customer_name").withColumnRenamed("name_masked","customer_name")
    print ("Masked Data: \n")
    df_masked.show(10)
    return 0
def mask_func(colVal):
        charList=list(colVal)
        charList[3:7]='x'*4
        return "".join(charList)
    
if __name__ == '__main__':
    main()

Input Data:

+-----------+-------------+--------+
|customer_id|customer_name|location|
+-----------+-------------+--------+
|          2|   Jack Melon|  Berlin|
|         14|   Rose Mario|  Berlin|
|         27|    Jack Gyle|  Berlin|
|         39|  Brook Melon|  Berlin|
|         52|   David Ever|  Berlin|
|         64|  Devid Smith|  Berlin|
|         77|    Sam Mario|  Berlin|
|         89|    Adina lee|  Berlin|
|        102|   Rose Melon|  Berlin|
|        114|    John Gyle|  Berlin|
+-----------+-------------+--------+
only showing top 10 rows

Masked Data:

+-----------+--------+-------------+
|customer_id|location|customer_name|
+-----------+--------+-------------+
|          2|  Berlin|   Jacxxxxlon|
|         14|  Berlin|   Rosxxxxrio|
|         27|  Berlin|    Jacxxxxle|
|         39|  Berlin|  Broxxxxelon|
|         52|  Berlin|   Davxxxxver|
|         64|  Berlin|  Devxxxxmith|
|         77|  Berlin|    Samxxxxio|
|         89|  Berlin|    Adixxxxee|
|        102|  Berlin|   Rosxxxxlon|
|        114|  Berlin|    Johxxxxle|
+-----------+--------+-------------+
only showing top 10 rows

In [34]:
products_df = spark.read.csv("dataset/products.csv", inferSchema = True, header = True)
products_df.write.parquet('dataset/products_parquet_'+current_time+'/')

In [35]:
products_df = spark.read.parquet('dataset/products_parquet_'+current_time+'/')

In [36]:
products_df.show()

+----------+------------+-----------+
|product_id|product_name|   category|
+----------+------------+-----------+
|         1|           A|Electronics|
|         2|           B|         IT|
|         3|           C|      Books|
|         4|           D|       Food|
|         5|           E|  Jewellery|
|         6|           F|   Footwear|
|         7|           G|     Beauty|
|         8|           H|      Cloth|
|         9|           I|       Wood|
|        10|           J|      Fruit|
|        11|           K|    Watches|
|        12|           L|      Audio|
|        13|           M|       Toys|
|        14|           N|      Sport|
|        15|           O|    Medical|
|        16|           P|      Paper|
|        17|           Q|  Household|
|        18|           R|        Pet|
|        19|           S|    Grocery|
|        20|           T|     Drinks|
+----------+------------+-----------+
only showing top 20 rows

In [37]:
sales_df = spark.read.csv("dataset/sales.csv", inferSchema = True, header = True)
sales_df.write.parquet('dataset/sales_parquet_'+current_time+'/')

In [38]:
sales_df = spark.read.parquet('dataset/sales_parquet_'+current_time+'/')

In [39]:
sales_df.show()

+--------------+----------+-----------+-------------------+--------+-----+
|transaction_id|product_id|customer_id|   transaction_date|quantity|price|
+--------------+----------+-----------+-------------------+--------+-----+
|             1|         1|          1|2021-01-02 00:00:00|      10|   20|
|             2|         2|          2|2021-01-03 00:00:00|       9|   22|
|             3|         3|          3|2021-01-04 00:00:00|       8|   24|
|             4|         4|          4|2021-01-05 00:00:00|       7|   26|
|             5|         5|          5|2021-01-06 00:00:00|       6|   28|
|             6|         6|          6|2021-01-07 00:00:00|       5|   30|
|             7|         7|          7|2021-01-08 00:00:00|       4|   32|
|             8|         8|          8|2021-01-09 00:00:00|       3|   34|
|             9|         9|          9|2021-01-10 00:00:00|       2|   36|
|            10|        10|         10|2021-01-11 00:00:00|       1|   38|
|            11|        11|         11|2021-01-12 00:00:00|       1|   40|
|            12|        12|         12|2021-01-13 00:00:00|       2|   42|
|            13|        13|         13|2021-01-14 00:00:00|       3|   44|
|            14|        14|         14|2021-01-15 00:00:00|       4|   46|
|            15|        15|         15|2021-01-16 00:00:00|       5|   48|
|            16|        16|         16|2021-01-17 00:00:00|       6|   50|
|            17|        17|         17|2021-01-18 00:00:00|       7|   52|
|            18|        18|         18|2021-01-19 00:00:00|       8|   54|
|            19|        19|         19|2021-01-20 00:00:00|       9|   56|
|            20|        20|         20|2021-01-21 00:00:00|      10|   58|
+--------------+----------+-----------+-------------------+--------+-----+
only showing top 20 rows

In [40]:
# Objective - 4: Pre-validations/ Post-validations
customers_df = pd.read_csv("dataset/customers.csv")
customers_df.head(10)

   customer_id customer_name   location
0            1    John Smith   New York
1            2    Jack Melon     Berlin
2            3    John Melon      Tokyo
3            4    Jack Smith       Pune
4            5     Mia Greek  Singapore
5            6    Jack Greek      Paris
6            7    John Greek     London
7            8     Mia Smith     Mexico
8            9     Mia Melon     Sydney
9           10   Super Mario       Rome

In [41]:
city = ['New York','Berlin','Tokyo','Pune','Singapore','Paris','London','Mexico','Sydney','Rome','Mumbai','Dubai','Beijing','Chicago','Mysore','Madrid','Chennai','Hyd','Delhi','Egypt','Madras','Bombay','France']

In [42]:
import pandera as pa
from pandera import Column, Check
#Check.greater_than(0), 

# ordered=True - To validate the order of the columns
# report_duplicates = "all" - report all duplicates
# unique=["customer_id"] - uniqueness of columns

schema = pa.DataFrameSchema(
    {
        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),
        "customer_name": Column(str, nullable=False),
        "location": Column(str, Check.isin(city), nullable=False),
    }, ordered=True, report_duplicates = "all", unique=["customer_id"]
)

schema.validate(customers_df)

     customer_id customer_name   location
0              1    John Smith   New York
1              2    Jack Melon     Berlin
2              3    John Melon      Tokyo
3              4    Jack Smith       Pune
4              5     Mia Greek  Singapore
..           ...           ...        ...
495          496    Chris Gyle      Egypt
496          497   Chris Melon     Madras
497          498   Chris Mario     Bombay
498          499     Rose Gyle     France
499          500     Swapnil M       Pune

[500 rows x 3 columns]

In [43]:
from pandera import check_input
from pandera.errors import SchemaError

schema = pa.DataFrameSchema(
    {
        "customer_id": Column(int, Check.less_than(480), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),
        "customer_name": Column(str, nullable=False),
        "location": Column(str, Check.isin(city), nullable=False),
    }
)

try:
  schema(customers_df)
except SchemaError as e:
  print("Failed check:", e.check)
  print("\n dataframe:\n", e.data)
  print("\nFailure cases:\n", e.failure_cases)

Failed check: <Check less_than: less_than(480)>

 dataframe:
      customer_id customer_name   location
0              1    John Smith   New York
1              2    Jack Melon     Berlin
2              3    John Melon      Tokyo
3              4    Jack Smith       Pune
4              5     Mia Greek  Singapore
..           ...           ...        ...
495          496    Chris Gyle      Egypt
496          497   Chris Melon     Madras
497          498   Chris Mario     Bombay
498          499     Rose Gyle     France
499          500     Swapnil M       Pune

[500 rows x 3 columns]

Failure cases:
     index  failure_case
0     479           480
1     480           481
2     481           482
3     482           483
4     483           484
5     484           485
6     485           486
7     486           487
8     487           488
9     488           489
10    489           490
11    490           491
12    491           492
13    492           493
14    493           494
15    494           495
16    495           496
17    496           497
18    497           498
19    498           499
20    499           500

In [45]:
# apply schema in function
schema = pa.DataFrameSchema(
    {
        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),
        "customer_name": Column(str, nullable=False),
        "location": Column(str, Check.isin(city), nullable=False),
    }
)
def get_sum_id(customers_df: pd.DataFrame, schema: pa.DataFrameSchema):
    validated = schema.validate(customers_df)
    return validated["customer_id"].sum()

get_sum_id(customers_df, schema)

125250

In [46]:
# Check Input
from pandera import check_input

@check_input(schema)
def get_sum_id(customers_df: pd.DataFrame, schema: pa.DataFrameSchema):
    validated = schema.validate(customers_df)
    return validated["customer_id"].sum()

get_sum_id(customers_df, schema)

125250

In [47]:
'''from pathlib import Path

# Get a YAML object
yaml_schema = schema.to_yaml()

# Save to a file
f = Path("dataset/schema.yml")
f.touch()
f.write_text(yaml_schema)'''

'from pathlib import Path\n\n# Get a YAML object\nyaml_schema = schema.to_yaml()\n\n# Save to a file\nf = Path("dataset/schema.yml")\nf.touch()\nf.write_text(yaml_schema)'

In [48]:
# Objective - 5
customers_df = spark.read.csv("dataset/customers.csv", inferSchema = True, header = True)
customers_df.write.parquet('dataset/customers_parquet1_'+current_time+'/')
customers_df = spark.read.parquet('dataset/customers_parquet1_'+current_time+'/')

products_df = spark.read.csv("dataset/products.csv", inferSchema = True, header = True)
products_df.write.parquet('dataset/products_parquet1_'+current_time+'/')
products_df = spark.read.parquet('dataset/products_parquet1_'+current_time+'/')

sales_df = spark.read.csv("dataset/sales.csv", inferSchema = True, header = True)
sales_df.write.parquet('dataset/sales_parquet1_'+current_time+'/')
sales_df = spark.read.parquet('dataset/sales_parquet1_'+current_time+'/')

In [49]:
customers_df.createOrReplaceTempView("customers")
products_df.createOrReplaceTempView("products")
sales_df.createOrReplaceTempView("sales")

In [50]:
spark.sql("""select * from products limit""").show(5)

+----------+------------+-----------+
|product_id|product_name|   category|
+----------+------------+-----------+
|         1|           A|Electronics|
|         2|           B|         IT|
|         3|           C|      Books|
|         4|           D|       Food|
|         5|           E|  Jewellery|
+----------+------------+-----------+
only showing top 5 rows

In [51]:
spark.sql("""select * from sales limit""").show(5)

+--------------+----------+-----------+-------------------+--------+-----+
|transaction_id|product_id|customer_id|   transaction_date|quantity|price|
+--------------+----------+-----------+-------------------+--------+-----+
|             1|         1|          1|2021-01-02 00:00:00|      10|   20|
|             2|         2|          2|2021-01-03 00:00:00|       9|   22|
|             3|         3|          3|2021-01-04 00:00:00|       8|   24|
|             4|         4|          4|2021-01-05 00:00:00|       7|   26|
|             5|         5|          5|2021-01-06 00:00:00|       6|   28|
+--------------+----------+-----------+-------------------+--------+-----+
only showing top 5 rows

In [52]:
# Calculate the monthly sales for each product category 
spark.sql('''select month(s.transaction_date) as month, p.category, sum(s.quantity)
from products p INNER JOIN sales s on p.product_id = s.product_id group by month,p.category order by month''').show()

+-----+-----------+-------------+
|month|   category|sum(quantity)|
+-----+-----------+-------------+
|    1|    Medical|           26|
|    1|        Pet|           13|
|    1|       Wood|           42|
|    1|       Food|           23|
|    1|   Footwear|           42|
|    1|     Drinks|           13|
|    1|  Household|           13|
|    1|  Jewellery|           42|
|    1|      Fruit|           42|
|    1|         IT|           22|
|    1|      Books|           22|
|    1|      Paper|           13|
|    1|      Cloth|           42|
|    1|     Beauty|           42|
|    1|Electronics|           23|
|    1|      Sport|           25|
|    1|      Audio|           23|
|    1|       Toys|           24|
|    1|    Watches|           22|
|    1|    Grocery|           13|
+-----+-----------+-------------+
only showing top 20 rows

In [53]:
# Calculate highest selling product_name for each month
spark.sql('''select * from (select month, product_name, quantity, rank() over(partition by month order by quantity desc) as rank from (select month(s.transaction_date) as month, p.product_name, s.quantity from products p INNER JOIN sales s
on p.product_id=s.product_id)) where rank =1''').show()

+-----+------------+--------+----+
|month|product_name|quantity|rank|
+-----+------------+--------+----+
|    1|           D|      20|   1|
|    2|           G|      41|   1|
|    3|           Q|      51|   1|
|    3|           R|      51|   1|
|    4|           V|      30|   1|
|    4|           W|      30|   1|
|    4|           M|      30|   1|
|    5|           P|      31|   1|
|    5|           Q|      31|   1|
|    6|           U|      23|   1|
|    7|           J|      30|   1|
|    7|           K|      30|   1|
|    8|           H|      20|   1|
|    9|           R|      30|   1|
|    9|           S|      30|   1|
|   10|           W|      30|   1|
|   11|           A|      30|   1|
|   12|           E|      40|   1|
+-----+------------+--------+----+

In [54]:
# Calculate two highest selling category for each month
spark.sql('''select * from (select month, category, quantity, row_number()over(partition by month order by quantity desc) as rank from (select month(s.transaction_date) as month, p.category, s.quantity
from products p INNER JOIN sales s on p.product_id=s.product_id)) where rank < 3''').show()

+-----+-----------+--------+----+
|month|   category|quantity|rank|
+-----+-----------+--------+----+
|    1|      Fruit|      20|   1|
|    1|       Wood|      19|   2|
|    2|      Books|      41|   1|
|    2|         IT|      40|   2|
|    3|       Toys|      51|   1|
|    3|      Sport|      51|   2|
|    4|     Drinks|      30|   1|
|    4|Electronics|      30|   2|
|    5|   Footwear|      31|   1|
|    5|     Beauty|      31|   2|
|    6|    Watches|      23|   1|
|    6|      Audio|      21|   2|
|    7|      Audio|      30|   1|
|    7|       Toys|      30|   2|
|    8|         IT|      20|   1|
|    8|Electronics|      19|   2|
|    9|      Audio|      30|   1|
|    9|       Toys|      30|   2|
|   10|      Books|      30|   1|
|   10|       Food|      28|   2|
+-----+-----------+--------+----+
only showing top 20 rows

In [55]:
# Calculate highest sale for each month
spark.sql('''select * from(select month, category, total, rank() over(partition by month order by total desc) as rank from (select month(s.transaction_date) as month, p.category, s.price*s.quantity as total 
from products p INNER JOIN sales s on p.product_id = s.product_id)) where rank = 1''').show()

+-----+--------+-----+----+
|month|category|total|rank|
+-----+--------+-----+----+
|    1|   Fruit| 1560|   1|
|    2| Watches| 2552|   1|
|    3|    Food| 2058|   1|
|    4|   Books| 2380|   1|
|    5|  Drinks|  980|   1|
|    6| Watches|  819|   1|
|    7|    Toys| 2910|   1|
|    8|      IT| 1980|   1|
|    9|     Pet| 1250|   1|
|   10|   Books| 3000|   1|
|   11|  Beauty|  589|   1|
|   12|   Cloth| 3290|   1|
+-----+--------+-----+----+

In [56]:
# Calculate highest sale for each year
spark.sql('''select * from(select year, category, total, row_number()over(partition by year order by total desc) as rank 
from(select year(s.transaction_date) as year, p.category, s.quantity*s.price as total 
from products p INNER JOIN sales s on p.product_id=s.product_id)) where rank = 1''').show()

+----+--------+-----+----+
|year|category|total|rank|
+----+--------+-----+----+
|2021|   Cloth| 3290|   1|
|2022| Watches| 2552|   1|
+----+--------+-----+----+

In [57]:
'''# Check Output
from pandera import check_input, check_io
from pandera.errors import SchemaError

in_schema = pa.DataFrameSchema(
    {
        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),
        "customer_name": Column(str, nullable=False),
        "location": Column(str, Check.isin(city), nullable=False),
    }
)

out_schema = pa.DataFrameSchema(
    {
        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),
        "customer_name": Column(str, nullable=False),
        "location": Column(str, Check.isin(city), nullable=False),
    }
)

@check_io(customers_df=in_schema, out=out_schema)
def get_sum_id(customers_df: pd.DataFrame):    
    return customers_df["customer_id"].sum()

get_sum_id(customers_df)'''

'# Check Output\nfrom pandera import check_input, check_io\nfrom pandera.errors import SchemaError\n\nin_schema = pa.DataFrameSchema(\n    {\n        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),\n        "customer_name": Column(str, nullable=False),\n        "location": Column(str, Check.isin(city), nullable=False),\n    }\n)\n\nout_schema = pa.DataFrameSchema(\n    {\n        "customer_id": Column(int, Check.less_than(501), Check.in_range(0, 501), Check(lambda x: x.sum() > 500)),\n        "customer_name": Column(str, nullable=False),\n        "location": Column(str, Check.isin(city), nullable=False),\n    }\n)\n\n@check_io(customers_df=in_schema, out=out_schema)\ndef get_sum_id(customers_df: pd.DataFrame):    \n    return customers_df["customer_id"].sum()\n\nget_sum_id(customers_df)'

In [58]:
'''pa.Check(lambda s: s.isin(["M", "F"])
         lambda x: x["age"] < 20
         pa.Check(lambda s: s > 0)'''

'pa.Check(lambda s: s.isin(["M", "F"])\n         lambda x: x["age"] < 20\n         pa.Check(lambda s: s > 0)'

In [59]:
'''df = pd.DataFrame(
    {
        "order_value": [841, 487, 208, 571, 554, 225, 186, 338, 996, 260],
        "gender": ["M", "M", "M", "M", "M", "F", "M", "M", "F", "F"],
        "age": [10, 18, 8, 24, 23, 5, 23, 10, 16, 19],
        "batch": [
            "2938-SS",
            "2309-TT",
            "2309-SW",
            "0923-OW",
            "5615-SD",
            "2320-LI",
            "0932-SO",
            "2308-WE",
            "9832-TC",
            "1092-PW",
        ],
        "student": [True, True, False, True, False, True, True, True, False, True],
    }
)'''

'df = pd.DataFrame(\n    {\n        "order_value": [841, 487, 208, 571, 554, 225, 186, 338, 996, 260],\n        "gender": ["M", "M", "M", "M", "M", "F", "M", "M", "F", "F"],\n        "age": [10, 18, 8, 24, 23, 5, 23, 10, 16, 19],\n        "batch": [\n            "2938-SS",\n            "2309-TT",\n            "2309-SW",\n            "0923-OW",\n            "5615-SD",\n            "2320-LI",\n            "0932-SO",\n            "2308-WE",\n            "9832-TC",\n            "1092-PW",\n        ],\n        "student": [True, True, False, True, False, True, True, True, False, True],\n    }\n)'

In [60]:
'''import pandera as pa
from pandera import Column, Check
schema = pa.DataFrameSchema(
    {
        "order_value": Column(
            "int64", [Check.less_than(1000), Check.greater_than(100)]
        ),
        "gender": Column("str", [Check.isin(["M", "F"])]),
        "age": Column("int64", [Check.less_than(40), Check.greater_than(0)]),
        "batch": Column("str"),
        "student": Column("bool"),
    }
)'''

'import pandera as pa\nfrom pandera import Column, Check\nschema = pa.DataFrameSchema(\n    {\n        "order_value": Column(\n            "int64", [Check.less_than(1000), Check.greater_than(100)]\n        ),\n        "gender": Column("str", [Check.isin(["M", "F"])]),\n        "age": Column("int64", [Check.less_than(40), Check.greater_than(0)]),\n        "batch": Column("str"),\n        "student": Column("bool"),\n    }\n)'

In [61]:
'''schema2 = pa.DataFrameSchema(
    {
        "order_value": Column(
            "int64",
            [
                Check.less_than(1000),
                Check.greater_than(100),
                Check(lambda x: x.sum() > 1000),
            ],
        ),
        "gender": Column("str", [Check.isin(["M", "F"])]),
        "age": Column("int64", [Check.less_than(40), Check.greater_than(0)]),
        "batch": Column("str", [Check.str_matches("\d{4}-\w{2}")]),
        "student": Column("bool"),
    }
)'''

'schema2 = pa.DataFrameSchema(\n    {\n        "order_value": Column(\n            "int64",\n            [\n                Check.less_than(1000),\n                Check.greater_than(100),\n                Check(lambda x: x.sum() > 1000),\n            ],\n        ),\n        "gender": Column("str", [Check.isin(["M", "F"])]),\n        "age": Column("int64", [Check.less_than(40), Check.greater_than(0)]),\n        "batch": Column("str", [Check.str_matches("\\d{4}-\\w{2}")]),\n        "student": Column("bool"),\n    }\n)'

In [62]:
'''@pa.check_input(schema)
@pa.check_output(schema2)
def avg_age_by_studentship(df):
    return df.groupby("student").age.mean().reset_index()'''

'@pa.check_input(schema)\n@pa.check_output(schema2)\ndef avg_age_by_studentship(df):\n    return df.groupby("student").age.mean().reset_index()'

In [63]:
'''fruits = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],
        "price": [2, 1, 3, 4],
    }
)

fruits'''

'fruits = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],\n        "price": [2, 1, 3, 4],\n    }\n)\n\nfruits'

In [64]:
'''available_fruits = ["apple", "banana", "orange"]
nearby_stores = ["Aldi", "Walmart"]'''

'available_fruits = ["apple", "banana", "orange"]\nnearby_stores = ["Aldi", "Walmart"]'

In [65]:
'''import pandera as pa
from pandera import Column, Check
schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(str, Check.isin(nearby_stores)),
        "price": Column(int),
    }
)
schema.validate(fruits)'''

'import pandera as pa\nfrom pandera import Column, Check\nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store": Column(str, Check.isin(nearby_stores)),\n        "price": Column(int),\n    }\n)\nschema.validate(fruits)'

In [66]:
'''schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(str, Check.isin(nearby_stores)),
        "price": Column(int, Check.less_than(4)),
    }
)
schema.validate(fruits)'''
'''
SchemaError: <Schema Column(name=price, type=DataType(int64))> failed element-wise validator 0:
<Check less_than: less_than(4)>
failure cases:
   index  failure_case
0      3             4
'''

'\nSchemaError: <Schema Column(name=price, type=DataType(int64))> failed element-wise validator 0:\n<Check less_than: less_than(4)>\nfailure cases:\n   index  failure_case\n0      3             4\n'

In [67]:
'''#Custom Checks - using lambda
schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(str, Check.isin(nearby_stores)),
        "price": Column(
            int, [Check.less_than(5), Check(lambda price: sum(price) < 20)]
        ),
    }
)
schema.validate(fruits)'''

'#Custom Checks - using lambda\nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store": Column(str, Check.isin(nearby_stores)),\n        "price": Column(\n            int, [Check.less_than(5), Check(lambda price: sum(price) < 20)]\n        ),\n    }\n)\nschema.validate(fruits)'

In [68]:
'''# Schema Model
from pandera.typing import Series

class Schema(pa.SchemaModel):
    name: Series[str] = pa.Field(isin=available_fruits)
    store: Series[str] = pa.Field(isin=nearby_stores)
    price: Series[int] = pa.Field(le=5)

    @pa.check("price")
    def price_sum_lt_20(cls, price: Series[int]) -> Series[bool]:
        return sum(price) < 20

Schema.validate(fruits)'''

'# Schema Model\nfrom pandera.typing import Series\n\nclass Schema(pa.SchemaModel):\n    name: Series[str] = pa.Field(isin=available_fruits)\n    store: Series[str] = pa.Field(isin=nearby_stores)\n    price: Series[int] = pa.Field(le=5)\n\n    @pa.check("price")\n    def price_sum_lt_20(cls, price: Series[int]) -> Series[bool]:\n        return sum(price) < 20\n\nSchema.validate(fruits)'

In [69]:
'''fruits = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],
        "price": [2, 1, 3, 4],
    }
)

schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(str, Check.isin(nearby_stores)),
        "price": Column(int, Check.less_than(5)),
    }
)


def get_total_price(fruits: pd.DataFrame, schema: pa.DataFrameSchema):
    validated = schema.validate(fruits)
    return validated["price"].sum()


get_total_price(fruits, schema)'''

'fruits = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],\n        "price": [2, 1, 3, 4],\n    }\n)\n\nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store": Column(str, Check.isin(nearby_stores)),\n        "price": Column(int, Check.less_than(5)),\n    }\n)\n\n\ndef get_total_price(fruits: pd.DataFrame, schema: pa.DataFrameSchema):\n    validated = schema.validate(fruits)\n    return validated["price"].sum()\n\n\nget_total_price(fruits, schema)'

In [70]:
'''# Check Input
from pandera import check_input

@check_input(schema)
def get_total_price(fruits: pd.DataFrame):
    return fruits.price.sum()

get_total_price(fruits)'''

'# Check Input\nfrom pandera import check_input\n\n@check_input(schema)\ndef get_total_price(fruits: pd.DataFrame):\n    return fruits.price.sum()\n\nget_total_price(fruits)'

In [71]:
'''# Check Output
from pandera import check_output

fruits_nearby = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],
        "price": [2, 1, 3, 4],
    }
)

fruits_faraway = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Whole Foods", "Whole Foods", "Schnucks", "Schnucks"],
        "price": [3, 2, 4, 5],
    }
)

out_schema = pa.DataFrameSchema(
    {"store": Column(str, Check.isin(["Aldi", "Walmart", "Whole Foods", "Schnucks"]))}
)


@check_output(out_schema)
def combine_fruits(fruits_nearby: pd.DataFrame, fruits_faraway: pd.DataFrame):
    fruits = pd.concat([fruits_nearby, fruits_faraway])
    return fruits


combine_fruits(fruits_nearby, fruits_faraway)'''

'# Check Output\nfrom pandera import check_output\n\nfruits_nearby = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],\n        "price": [2, 1, 3, 4],\n    }\n)\n\nfruits_faraway = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Whole Foods", "Whole Foods", "Schnucks", "Schnucks"],\n        "price": [3, 2, 4, 5],\n    }\n)\n\nout_schema = pa.DataFrameSchema(\n    {"store": Column(str, Check.isin(["Aldi", "Walmart", "Whole Foods", "Schnucks"]))}\n)\n\n\n@check_output(out_schema)\ndef combine_fruits(fruits_nearby: pd.DataFrame, fruits_faraway: pd.DataFrame):\n    fruits = pd.concat([fruits_nearby, fruits_faraway])\n    return fruits\n\n\ncombine_fruits(fruits_nearby, fruits_faraway)'

In [72]:
'''# Check Both Inputs and Outputs - check_io
from pandera import check_io

in_schema = pa.DataFrameSchema({"store": Column(str)})

out_schema = pa.DataFrameSchema(
    {"store": Column(str, Check.isin(["Aldi", "Walmart", "Whole Foods", "Schnucks"]))}
)


@check_io(fruits_nearby=in_schema, fruits_faraway=in_schema, out=out_schema)
def combine_fruits(fruits_nearby: pd.DataFrame, fruits_faraway: pd.DataFrame):
    fruits = pd.concat([fruits_nearby, fruits_faraway])
    return fruits


combine_fruits(fruits_nearby, fruits_faraway)'''

'# Check Both Inputs and Outputs - check_io\nfrom pandera import check_io\n\nin_schema = pa.DataFrameSchema({"store": Column(str)})\n\nout_schema = pa.DataFrameSchema(\n    {"store": Column(str, Check.isin(["Aldi", "Walmart", "Whole Foods", "Schnucks"]))}\n)\n\n\n@check_io(fruits_nearby=in_schema, fruits_faraway=in_schema, out=out_schema)\ndef combine_fruits(fruits_nearby: pd.DataFrame, fruits_faraway: pd.DataFrame):\n    fruits = pd.concat([fruits_nearby, fruits_faraway])\n    return fruits\n\n\ncombine_fruits(fruits_nearby, fruits_faraway)'

In [73]:
'''# Deal with Null Values - If null values are acceptable, add nullable=True
import numpy as np

fruits = fruits = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Aldi", "Walmart", "Walmart", np.nan],
        "price": [2, 1, 3, 4],
    }
)

schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(str, Check.isin(nearby_stores), nullable=True),
        "price": Column(int, Check.less_than(5)),
    }
)
schema.validate(fruits)'''

'# Deal with Null Values - If null values are acceptable, add nullable=True\nimport numpy as np\n\nfruits = fruits = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Aldi", "Walmart", "Walmart", np.nan],\n        "price": [2, 1, 3, 4],\n    }\n)\n\nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store": Column(str, Check.isin(nearby_stores), nullable=True),\n        "price": Column(int, Check.less_than(5)),\n    }\n)\nschema.validate(fruits)'

In [74]:
'''# Deal with Duplicates - 
schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store": Column(
            str, Check.isin(nearby_stores), nullable=True, allow_duplicates=False
        ),
        "price": Column(int, Check.less_than(5)),
    }
)
schema.validate(fruits)'''

'# Deal with Duplicates - \nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store": Column(\n            str, Check.isin(nearby_stores), nullable=True, allow_duplicates=False\n        ),\n        "price": Column(int, Check.less_than(5)),\n    }\n)\nschema.validate(fruits)'

In [75]:
'''# Convert Data Types - coerce=True changes the data type of a column
fruits = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],
        "price": [2, 1, 3, 4],
    }
)

schema = pa.DataFrameSchema({"price": Column(str, coerce=True)})
validated = schema.validate(fruits)
validated.dtypes'''

'# Convert Data Types - coerce=True changes the data type of a column\nfruits = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store": ["Aldi", "Walmart", "Walmart", "Aldi"],\n        "price": [2, 1, 3, 4],\n    }\n)\n\nschema = pa.DataFrameSchema({"price": Column(str, coerce=True)})\nvalidated = schema.validate(fruits)\nvalidated.dtypes'

In [76]:
'''# Match Patterns - change all columns that start with the word 'store', by adding regex=True

favorite_stores = ["Aldi", "Walmart", "Whole Foods", "Schnucks"]

fruits = pd.DataFrame(
    {
        "name": ["apple", "banana", "apple", "orange"],
        "store_nearby": ["Aldi", "Walmart", "Walmart", "Aldi"],
        "store_far": ["Whole Foods", "Schnucks", "Whole Foods", "Schnucks"],
    }
)

schema = pa.DataFrameSchema(
    {
        "name": Column(str, Check.isin(available_fruits)),
        "store_+": Column(str, Check.isin(favorite_stores), regex=True),
    }
)
schema.validate(fruits)'''

'# Match Patterns - change all columns that start with the word \'store\', by adding regex=True\n\nfavorite_stores = ["Aldi", "Walmart", "Whole Foods", "Schnucks"]\n\nfruits = pd.DataFrame(\n    {\n        "name": ["apple", "banana", "apple", "orange"],\n        "store_nearby": ["Aldi", "Walmart", "Walmart", "Aldi"],\n        "store_far": ["Whole Foods", "Schnucks", "Whole Foods", "Schnucks"],\n    }\n)\n\nschema = pa.DataFrameSchema(\n    {\n        "name": Column(str, Check.isin(available_fruits)),\n        "store_+": Column(str, Check.isin(favorite_stores), regex=True),\n    }\n)\nschema.validate(fruits)'

In [77]:
# Export to YAML - neat way to show your tests

'''from pathlib import Path

# Get a YAML object
yaml_schema = schema.to_yaml()

# Save to a file
f = Path("schema.yml")
f.touch()
f.write_text(yaml_schema)'''

'from pathlib import Path\n\n# Get a YAML object\nyaml_schema = schema.to_yaml()\n\n# Save to a file\nf = Path("schema.yml")\nf.touch()\nf.write_text(yaml_schema)'

In [78]:
# Load from YAML

'''with f.open() as file:
    yaml_schema = file.read()

schema = pa.io.from_yaml(yaml_schema)'''

'with f.open() as file:\n    yaml_schema = file.read()\n\nschema = pa.io.from_yaml(yaml_schema)'